.skillsSection{
    background-color: #121212;
    color: bisque;
    padding: 50px 20px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    min-height: 50vh;
}

.title{
    font-size: 2.5rem;
    margin-bottom: 30px;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: #87dec3;
}

.skillsContainer{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.skillBadge{
    background-color: rgba(137, 43, 226, 0.6);
    padding: 20px;
    border-radius: 12px;
    width: 100px;
    cursor: default;
    box-shadow: 0 0 10px rgba(137, 43, 226, 0.8);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    user-select: none;
}

.skillBadge:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(95, 158, 160, 0.9);
}

.icon{
    font-size: 3.5rem;
    margin-bottom: 10px;
}

.skillBadges span{
    font-weight: bold;
    font-size: 1.1rem;
    color: white;
}